Makefile.in
build/

.aclocal.out
.autoconf.out
.automake.out
vice/.autoheader.out
vice/README''
vice/aclocal.m4
vice/autom4te.cache/
vice/compile
vice/configure
vice/depcomp
vice/doc/html/index.html''
vice/missing
vice/src/config.h.in
vice/src/resid-dtv/COPYING
vice/src/resid-dtv/INSTALL
vice/src/resid-dtv/aclocal.m4
vice/src/resid-dtv/autom4te.cache/
vice/src/resid-dtv/configure
vice/src/resid/COPYING
vice/src/resid/INSTALL
vice/src/resid/aclocal.m4
vice/src/resid/autom4te.cache/
vice/src/resid/configure
vice/ylwrap
